@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  --bg-gradient: linear-gradient(-45deg, #004e92, #7b4397, #dc2430);

  background: var(--bg-gradient);
  backdrop-filter: blur(10px);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-frame {
  position: relative;
  --mask:
    radial-gradient(30px at 30px 30px, #0000 calc(98% - 3px), #000 calc(100% - 3px) 98%, #0000) -30px -30px,
    linear-gradient(90deg, #000 6px, #0000 0) -3px 50% /100% calc(100% - 60px + 3px) repeat-x,
    linear-gradient(#000 6px, #0000 0) 50% -3px/calc(100% - 60px + 3px) 100% repeat-y;
}
  
.gradient-frame:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg-gradient);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.glass-panel {
  --border-radius: 0px;

  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  box-shadow: rgba(255, 255, 255, 0.1) 0 4px 6px;
}

.glass-button {
  display: inline-block;
  padding: 16px 24px;
  border: 0;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.top-clip {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    50% 100%,
    0 calc(100% - 50px)
  );
}
.bottom-clip {
  clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
  margin-top: -40px;
}
